In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import matplotlib.pyplot as plt
from io import BytesIO
%config InlineBackend.figure_format='retina'

from cyrates.parsing.extractor import CurrencyExtractor
from cyrates.parsing.prettyprint import pretty_print
from cyrates.parsing import fastresult

In [2]:
CurrencyExtractor().get_crypto_rates()

source crypto    binance      bybit        rbc
0         BTC  103 796 $  103 784 $  103 720 $
1         ETH    3 453 $    3 451 $    3 450 $
2         SOL      163 $      163 $        NaN
3         TON     2.12 $     2.12 $        NaN

In [3]:
fastresult.launch()

 The Central Bank of Russian Federation present currency rates:
 code     cbr freedom
 USD 81.23 ₽ 83.91 ₽
 TRY  0.52 ₽   2.0 ₽
 KZT  6.49 ₽  6.63 ₽
 EUR 93.84 ₽ 97.21 ₽
 CNY 11.36 ₽ 11.89 ₽
 AED 22.12 ₽ 23.03 ₽

 Real-time cryptocurrency prices across various trading and exchange platforms:
 crypto   binance     bybit       rbc
   BTC 103 796 $ 103 802 $ 103 720 $
   ETH   3 451 $   3 453 $   3 450 $
   SOL     163 $     163 $       NaN
   TON    2.12 $    2.12 $       NaN

In [5]:
CurrencyExtractor().get_bybit_crypto_rates()

  crypto      price source
0    BTC  103 804 $  bybit
1    TON     2.12 $  bybit
2    SOL      163 $  bybit
3    ETH    3 452 $  bybit